@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --font-main: "Raleway", sans-serif;

    --bg-color: #eef9f5;
    --menu-color: #ffffff;
    --menu-border: #e6e6e6;

    --text-color: #141414;
    --text-color-unimp: #464646;

    --button-text-color: #ffffff;
    --button-bg-color: #66cba2;
    --button-bg-hover: #57907e;

    --button-text-color-unimp: #141414;
    --button-bg-color-unimp: #ffffff;
    --button-bg-hover-unimp: #e6e6e6;
    --button-border-color-unimp: #e6e6e6;
}

.dark {
    --bg-color: #141414;
    --menu-color: #252525;
    --menu-border: #373737;

    --text-color: #ffffff;
    --text-color-unimp: #515151;

    --button-text-color: #ffffff;
    --button-bg-color: #66cba2;
    --button-bg-hover: #57907e;

    --button-text-color-unimp: #ffffff;
    --button-bg-color-unimp: #3f3f3f;
    --button-bg-hover-unimp: #515151;
    --button-border-color-unimp: #3f3f3f;
}